.post
  %h2.title Login
  .entry
    .meta

    = form_tag admin_sessions_path, :method => :post do
      .field
        %label Username
        = text_field_tag :username, params[:username], :id => "username_field"

      .field
        %label Password
        = password_field_tag :password

      .actions
        %label Actions
        = submit_tag "Login"
