%h1 Change Password

= form_tag change_password_admin_sessions_path, :method => :post do
  .field
    %label Password
    = text_field_tag :password

  .field
    %label Confirm
    = text_field_tag :password_confirm

  .actions
    %label Actions
    = submit_tag "Change Password"
