/***** Andrewlittleford.com - Audio Player ****

#player
  height: 400px
  width: 650px
  margin: 0
  padding: 0
  background: #3D1020
  font-family: LatinModernMonoProp10Regular, serif
  font-size: 1.2em

  .header
    padding: 0
    margin: 0
    height: 75px
    width: 650px
    font-family: MonospaceTypewriterRegular, verdana, helvetica, arial, sans-serif
    border-bottom: 4px solid #F6F3CF

  .container
    padding: 0
    margin: 0
    height: 321px
    width: 650px

  .list
    margin: 0
    height: 291px
    width: 216px
    float: right
    background-color: #9E8855
    padding: 15px
    overflow: scroll
    overflow-x: hidden
    border-left: 4px solid #F6F3CF

    li
      margin: 2px 0 20px 0

    a
      color: #4B3733
      font-weight: bold

  .main
    padding: 0
    margin: 0
    height: 100%
    width: 400px
    float: left

  .title
    margin: 6px 0
    text-align: center
    font-size: 1.5em
    font-weight: bold

  .controls

  .prev
    padding: 6px
    margin: 0
    width: 140px
    float: left

  .next
    padding: 6px
    margin: 0
    width: 140px
    float: right
    text-align: right

  .description
    clear: both
    height: auto
    padding: 15px
    font-size: 0.85em

  ul
    list-style: none

