-if !error_messages.try(:errors).blank? || flash[:error]
  .error
    - if !error_messages.try(:errors).blank?
      %h2= "Oops! There #{error_messages.errors.count == 1 ? "was a problem" : "were some problems"} saving."
      %ul
        - error_messages.errors.full_messages.each do |msg|
          %li= msg

