%ul
  %li= render :partial => 'shared/admin_nav' if controller.current_user

  %li
    %h2 Upcoming Shows
    %ul
      %li Some upcoming show
      %li Another show
      %li TODO

  - if Link.projects.any?
    %li
      %h2 Current Projects
      %ul
        - Link.projects.each do |link|
          %li= link_to link.display, link.url

