.sidebox
  - if Track.count > 0
    %a{:href => track_path(Track.beginning), :onclick => "window.open('#{track_path(Track.beginning)}','#{Track.window_name}', config='height=400, width=650, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no'); return false;"} Listen
  - else
    = link_to "No Tracks", "#"

.sidebox= render :partial => 'shared/admin_nav' if controller.current_user
