%ul
  %li= render :partial => 'shared/admin_nav' if controller.current_user

  %li
    %h2 Upcoming Shows
    %ul
      %li Some upcoming show
      %li Another show
      %li TODO

  %li
    %h2 Current Projects
    %ul
      %li= link_to "Awesome Sauce", "#"
      %li= link_to "The Andrew Littleford Allstars", "#"
