- content_for :js do
  :javascript
    $(document).ready(function(){
      $("a.thumb").fancybox({
        'transitionIn' : 'elastic',
        'transitionOut' : 'elastic',
        'hideOnContentClick' : true,
        'titlePosition' : 'inside'
      });
    });

.post
  %h2.title Image Gallery
  .entry.left
    .meta

    - @gallery.images.in_order.all_active.each do |image|
      = link_to image_tag(image.thumb, :class => "thumb", :alt => image.label), image.full, :rel => "gallery", :class => "thumb", :title => image.title
