.post
  %h2.title Links
  .entry
    .meta

    %ul.links
      - @links.each do |link|
        %li
          = link_to link.display, link.url
          .description= simple_format(link.description) unless link.description.blank?

