.post
  %h1 Links
  %h3 &nbsp;

  %ul.links
    - @links.each do |link|
      %li
        %p.link= link_to link.display, link.url
        = simple_format(link.description) unless link.description.blank?