%h1 Edit News Post

= render 'form'

.image_links
  = index_entity_image admin_posts_path, "Back to News Index"
  %br
  = destroy_entity_image admin_post_path(@post), "Delete News Post"

- if @preview
  .preview
    %h2 Preview

  = render :partial => '/posts/post', :object => @post
    