.post
  %h2.title= link_to post.title, post_path(post)
  .entry
    .meta= (post.created_at || Time.now).to_s(:news_without_time)
    = image_for post
    = auto_link(simple_format(post.body), :link => :urls)
    .clear

