- if @posts.any?
  %h2.super News

  - @posts.each do |post|
    = render :partial => "post", :object => post

  -  if @posts.paginate?
    .pagination= will_paginate(@posts, :previous_label => "← Newer", :next_label => "Older →")

- else
  %h2.super No news
