.post
  %h1 Image Gallery
  %h3 &nbsp;
  .center
    - @galleries.each_with_index do |gallery, i|
      - c = case i    # This is inelegant but it's better than lots of copy pase or putting a class name into the model/db
        - when 0 then "left_float"
        - when 1 then "right_float"
        - when 2 then "clear"

      .gallery_header{:class => c}
        = link_to image_tag(gallery.image, :alt => "#{SITE_NAME} - #{gallery.name}"), gallery.full_path
        %p= link_to gallery.name, gallery.full_path
