- content_for :js do
  :javascript
    $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto({
        animation_speed: 'fast',
        slideshow: false,
        opacity: 0.60,
        show_title: true,
        allow_resize: false,
        default_width: 500,
        default_height: 344,
        counter_separator_label: ' of ',
        theme: 'dark_square',
        hideflash: false,
        keyboard_shortcuts: true,
        overlay_gallery: false
      });
    });

.post
  %h1= @gallery.name
  %h3 &nbsp;

  - @gallery.images.in_order.all_active.each do |image|
    = link_to image_tag(image.thumb, :class => "thumb", :alt => image.label), image.full, :rel => "prettyPhoto[gallery]"

  .gallery_back= link_to "Back to all galleries", "/galleries"
