- content_for :js do
  :javascript
    $(document).ready(function() {
      $("#image_sortable").sortable({
        update: function () {
          $.ajax({
            url: "/admin/images/sort",
            type: "post",
            data: $("#image_sortable").sortable('serialize'),
            error: function(){
              alert("There was an error sorting images. Contact administrator.");
            }
          });
        }
      });

      $("#image_sortable").disableSelection();
    });


.post
  %h2.title Image Gallery
  .entry
    .meta Drag images to reorganize them.

    %ul#image_sortable
      - @images.in_order.each do |image|
        %li{:style => "background: #FFFFFF url('#{image.thumb}') no-repeat left top;", :id => "image_#{image.id}"}
          .delete= destroy_entity_image admin_image_path(image)
    .clear

.post
  %h2.title Upload New Image
  .entry
    .meta
    = render :partial => 'admin/images/form'
