.post
  %h2.title Image Gallery
  .entry
    .meta Drag images to reorganize them.

    %ul#image_sortable
      - @images.in_order.each do |image|
        %li{:style => "background: #FFFFFF url('#{image.thumb}') no-repeat left top;", :id => "image_#{image.id}"}
          .delete= destroy_entity_image admin_image_path(image)
    .clear

.post
  %h2.title Upload New Image
  .entry
    .meta
    = render :partial => 'admin/images/form'
